@model BankingSystemMVC.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Додади трансакција</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Податоци</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TransDate" class="control-label"></label>
                            <input asp-for="TransDate" class="form-control" />
                            <span asp-validation-for="TransDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalBalance" class="control-label"></label>
                            <input asp-for="TotalBalance" class="form-control" />
                            <span asp-validation-for="TotalBalance" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="control-label"></label>
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Receiver" class="control-label"></label>
                            <input asp-for="Receiver" class="form-control" />
                            <span asp-validation-for="Receiver" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Account" class="control-label"></label>
                            <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee" class="control-label"></label>
                            <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a asp-action="Index" class="btn btn-secondary">Назад кон трансакции</a>
                <input type="submit" value="Create" class="btn btn-success float-right">
            </div>
        </div>

    </form>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
