@{
    ViewData["Title"] = "Забранет пристап";
}

<div class="content-wrapper">
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">403</h2>
            <div class="error-content">
                <br />
                <h3>
                <i class="fas fa-exclamation-triangle text-danger"></i> Упсс! Немате дозвола за пристап до бараниот ресурс!
                </h3>
            </div>
        </div>
    </section>
</div>

